:root {
  --brand-color: #2f303a;
  --black-color: #000000;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --dark-color: #212121;
  --gray-color: #757575;
  --active-button-hover: #188ce8;
  --background-some-dark: #f5f4fa;
  --background-hero: rgba(47, 48, 58, 0.4);
  --icon: #afb1b8;
  --border-clients: rgba(175, 177, 184, 1);
  --footer-icon: rgba(255, 255, 255, 0.1);
  --time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-color);
  font-size: 14px;
  background-color: var(--white-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*--------------Header-------------*/
.header {
  background: var(--white-color);
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header-block {
  display: flex;
  padding: 0 15px;
}
nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black-color);
}
.header-link {
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--dark-color);
}

.header-text {
  color: var(--blue-color);
}
.header-link {
  position: relative;
  color: var(--title-color-text);
  display: inline-block;
  padding: 32px 0;
}
.header-link::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;

  transform: scaleX(0);
  transition: transform var(--time-animation);
}
.header-link:hover::after,
.header-link:focus::after,
.header-link.header-link-studio::after,
.header-link.header-link-portfolio::after {
  transform: scalex(1);
}


.header-link-studio,
.header-link-portfolio {
  text-decoration: none;
  transition: color var(--time-animation);
}
.header-list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}
.header-contacts .item {
  display: block;
}

.header-list .item {
  display: block;
}

.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  color: var(--gray-color);
  padding: 32px 0;
  fill: currentColor;
}

.header-contacts .header-mail-icon {
  margin-right: 10px;
}

.header-link {
  display: inline-block;
  padding: 32px 0;
}

.header-link:hover,
.header-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--blue-color);
}

.header-link-studio,
.header-link-portfolio {
  color: var(--blue-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;
}

/*----------------Main-------------------*/
.section-hero {
  margin: 0 auto;
  max-width: 1600px;
  background: var(--brand-color);
  padding: 200px 15px;
  text-align: center;
  background-image: linear-gradient(
      var(--background-hero),
      var(--background-hero)
    ),
    url(../images/hero_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-btn {
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  cursor: pointer;
  letter-spacing: 0.06em;
  background-color: var(--blue-color);

  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  padding: 10px 32px;
  border-width: 0;

  transition: background-color var(--time-animation);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-button-hover);
}

/*---feature----*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-section {
  display: flex;
  gap: 30px;
}
.section-features {
  padding-bottom: 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-some-dark);

  margin-bottom: 30px;
}

.list-section .item {
  width: 270px;
}

.list-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-item {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.task {
  display: flex;
  gap: 30px;
}
.task-box{
  position: relative;
}

.task-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  padding: 27px 15px;
  text-align: center;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.list-section {
  display: flex;

  font-size: 16px;
  line-height: 1.19;
  gap: 30px;
}

.employee {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.employee-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
.section-team {
  background-color: var(--background-some-dark);
}

.list-teammate {
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.teammate-text {
  padding: 30px 0;
}
.employee-position {
  margin-bottom: 16px;
}

.list-teammate {
  background-color: var(--white-color);
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  fill: var(--icon);

  transition: background-color var(--time-animation), fill var(--time-animation);
}
.social-icon-bg:hover,
.social-icon-bg:focus {
  background-color: var(--blue-color);
  fill: var(--white-color);
}

/*клієнти*/

.clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.client {
  display: flex;
  padding: 15px 32px;

  border: 1px solid var(--border-clients);
  border-radius: 4px;
}
.client {
  fill: var(--icon);
  transition: border-color var(--time-animation), fill var(--time-animation);
}
.client:hover,
.client:focus {
  border-color: var(--blue-color);
  fill: var(--blue-color);
}

/*---------------Footer--------------*/

footer {
  background-color: var(--brand-color);
}
footer .container {
  padding: 60px 15px;
}
address {
  font-style: normal;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
}
address .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}
.footer-text {
  color: var(--blue-color);
}
.footer-list-item {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-list-adress {
  color: var(--white-color);
}
.footer-list-adress:hover,
.footer-list-adress:focus,
.footer-list-item-contacts:hover,
.footer-list-item-contacts:focus {
  color: var(--blue-color);
}

.footer-box {
  display: flex;
  align-items: baseline;
  gap: 93px;
}

.footer-title {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-social {
  display: flex;
  gap: 10px;
}
.footer-icon {
  background-color: var(--footer-icon);
  fill: var(--white-color);
}

/*-----модал-----*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity var(--time-animation), visibility var(--time-animation);
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-animation), box-shadow var(--time-animation);

}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.backdrop-exit{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  cursor: pointer;

  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}


/*--------------------Portfolio-----------------*/

.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filter-btn {
  background-color: #f5f4fa;
  cursor: pointer;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  border-radius: 4px;
  border-width: 0;
  padding: 6px 22px;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}
.list-project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-box {
  text-decoration: none;
  display: block;
  transition: box-shadow var(--time-animation);
}

.portfolio-box:hover,
.portfolio-box:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--time-animation);
}

.portfolio-box:hover .portfolio-text,
.portfolio-box:focus .portfolio-text {
  transform: translateY(0);
}

.portfolio .text {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: 0;
}
.item-text {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: 0;
}
.project-item {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-color);
}
.about-project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
